/* .container{
    background-color: aquamarine;
    margin-top: 20px;
} */

.uno{
    background-color: blueviolet;
}
.dos{
    background-color: aqua;
}
.tres{
    background-color: brown;
}
.cuatro{
    background-color: chocolate;
}